
<div class="jumbotron jumbotron-fluid" style="background-color: rgb(33, 43, 43)" #products id="products">
    <div class="container">
      <div style="margin: 2rem">
        <h1 class="display-5" style="text-align: center; margin-bottom: 1rem;color: white">产品展示</h1>
        <p class="card-text" style="text-align: center;margin-bottom: 1rem;font-size: 14px;
          color:white;
          font-family: Microsoft YaHei;">全力为中小企业提供广告设计、平面设计、品牌推广等高度定制服务</p>
      </div>
  
  
      <div class="row" style="margin: 0 1rem;">
        <div class="col-sm-6" style="padding:0px">
          <div class="card" style="background-color: rgb(41, 53, 53);">
            <div class="card-body">
              <h5 class="card-title"
                style="color:#1dbb81; font-family:Microsoft YaHei; font-size:x-large ; text-align: center;">航空媒体</h5>
              <p class="card-text" style="color:#999999;font-size:14px;padding: 20px 60px">This is a wider card with
                supporting text below as
                a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6" style="padding:0px">
          <div class="card" style="background-color: rgb(32, 44, 44);">
            <div class="card-body">
              <h5 class="card-title"
                style="color:#1dbb81; font-family:Microsoft YaHei; font-size:x-large;; text-align: center;">高速媒体</h5>
              <p class="card-text" style="color:#999999;font-size:14px;padding: 20px 60px">This is a wider card with
                supporting text below as
                a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin: 0 1rem;">
        <div class="col-sm-6" style="padding:0px">
          <div class="card" style="background-color: rgb(28, 39, 39);">
            <div class="card-body">
              <h5 class="card-title"
                style="color:#1dbb81; font-family:Microsoft YaHei; font-size:x-large; text-align: center;">高铁媒体</h5>
              <p class="card-text" style="color:#999999;font-size:14px;padding: 20px 60px">This is a wider card with
                supporting text below as
                a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6" style="padding:0px">
          <div class="card" style="background-color: rgb(22, 33, 33);">
            <div class="card-body">
              <h5 class="card-title"
                style="color:#1dbb81; font-family:Microsoft YaHei; font-size:x-large ; text-align: center;">城市媒体</h5>
              <p class="card-text" style="color:#999999;font-size:14px ;padding: 20px 60px">This is a wider card with
                supporting text below as
                a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
  
  
  
  
    </div>
  </div>
  