<div class="jumbotron jumbotron-fluid" style="background-color: white" #team id="team">
    <div class="container">
      <div style="margin: 2rem">
        <h1 class="display-5" style="text-align: center; margin-bottom: 1rem">团队展示</h1>
        <p class="card-text" style="text-align: center;margin-bottom: 1rem;    font-size: 14px;
      color: #999999;
      font-family: Microsoft YaHei;">拥有超过8年行业经验的资深团队及设计开发经验，服务上百家品牌企业</p>
      </div>
  
      <div class="row">
        <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./assets/images/profile.jpg" alt="Card image cap">
            <div class="card-body" style="text-align: center;">
              <h6 class="card-text" style="margin-bottom: 1rem">首席设计师</h6>
              <p class="card-text" style="color: #1dbb81; font-size: 14px">大卫</p>
            </div>
          </div>
        </div>
  
        <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./assets/images/profile.jpg" alt="Card image cap">
            <div class="card-body" style="text-align: center;">
              <h6 class="card-text" style="margin-bottom: 1rem">首席设计师</h6>
              <p class="card-text" style="color: #1dbb81; font-size: 14px">大卫</p>
            </div>
          </div>
        </div>
  
        <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./assets/images/profile.jpg" alt="Card image cap">
            <div class="card-body" style="text-align: center;">
              <h6 class="card-text" style="margin-bottom: 1rem">首席设计师</h6>
              <p class="card-text" style="color: #1dbb81; font-size: 14px">大卫</p>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  