<div class="jumbotron jumbotron-fluid" style="background-color:black">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <span style="color: white">电话： 400****888</span>
            </div>
            <div class="col-sm-4">
                <span style="color: white">邮箱： *****@gmail.com</span>
            </div>
            <div class="col-sm-4">
                <span style="color: white">地址： 中国北京市东城区某某大厦8-88室</span>
            </div>
        </div>

    </div>
</div>
<div style="background-color:rgb(33, 45, 45); height: 50px;">

    <div style="color: #bdc3c7; text-align: center;padding: 20px">版权所有：某某有限公司：备案号：京ICP备2018xxxx号</div>

</div>