<div class="jumbotron jumbotron-fluid" style="background-color: white" #companyInfo id="companyInfo">
    <div class="container">
  
      <div style="margin: 2rem">
        <h1 class="display-5" style="text-align: center; margin-bottom: 1rem">公司介绍</h1>
        <p class="card-text" style="text-align: center;margin-bottom: 1rem;    font-size: 14px;
          color: #999999;
          font-family: Microsoft YaHei;">以平台力量驱动数字户外营销的效率与效果</p>
      </div>
      <div class="row" style="margin: 0 1rem;">
        <div class="col-sm-6" style="padding:0px;border: none">
          <div class="card-body">
              <h5 class="card-title" style="height: 30px"></h5>
            <div class="card" style="width: 30rem;">
              <img class="card-img-bottom" src="./assets/images/company-introduce.jpg" alt="Card image cap">
  
            </div>
          </div>
        </div>
  
        <div class="col-sm-6" style="padding:0px">
          <div class="card" style="background-color: white; border: none">
            <div class="card-body">
              <h5 class="card-title" style="font-family:Microsoft YaHei; font-size:x-large;">为什么选择我们？</h5>
              <p class="card-text company-introduce">
                XX广告设计有限公司，是一家集创意设计、制作、印刷为一体的企业。主要从事企业标志设计、VI设计、平面设计、海报、画册设计、包装礼品设计、展览展示、广告设计印刷等业务。本公司依靠雄厚的人力资源与丰富的设计经验，并以国际化、专业化为发展准则，竭诚为客户服务、并取得了良好的经济效益和社会好评。尤其对中小型客户量身打造不同方位、多层次的综合性专业服务有丰富的成功经验。公司下属部门XX数码快印中心集广告公司的创意设计和印刷厂图文快印于一体。能够为不同客户提供设计制作，数码（传统）快印及后期加工等一站式服务的企业。
                公司拥有目前先进的数码直印系统，本着“高效、快捷、满意”的理念为客户提供全天24小时服务。致力于成为您策划设计，印刷及后期加工的服务供应商。
                公司目标:超越自我、服务社会　公司口号:追求完美、体现价值
                公司精神:始与学习、勇于创新　公司使命:高效、快捷、优质
                公司目标:超越自我、服务社会　公司口号:追求完美、体现价值
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>